body{direction:rtl}

.container{
    width:100%;
    height:2900px;
    background:url(../html/download.jpg);
    margin-top:-40px
}
.topmenu{
    width:90%;
    height:50px;
    background:#000000;
    border-radius:20px;
    margin:auto;
}
.wall{
    width:100%;
    height:64px;
    background:url(../html/download.jpg);
}
.topmenu ul li a{
    text-decoration:none;
    color:#ffd800;
  
   font-size:40px;
   

}
.topmenu ul li{display:inline;float:right;padding: 4px 81px 0 0;}
.topmenu ul li a:hover{
    color:#4cff00;
}
.topbaner{
    width:90%;
    height:480px;
    border-radius:20px;
    margin:auto;
    background:#0094ff;
   margin-top:20px;
}
.topbaner img{
    padding: 134px 329px 0px 0;
    margin: 2px 23px -17px 81px;
}
.txt1{
    font:bold 25px;
    font-size: 26px;
    margin: 48px 118px 0 0;
}
.baner1{
    width:24%;
    height:500px;
    border-radius:20px;
    margin:auto;
    background:#0094ff;
   margin-top:20px;
}
.baner2{
    width:24%;
    height:500px;
    border-radius:20px;
    float:left;
    background:#0094ff;
    margin-top:20px;
    margin: -500px 125px;
}
.baner3{
    width:24%;
    height:500px;
    border-radius:20px;
    float:right;
    background:#0094ff;
    margin-top:20px;
    margin: -500px 146px;
}
.baner1 h3{
    color:#000000;
    font-size:45px;
    box-shadow: 0px 6px 6px -3px #ffffff;
    padding: 15px 114px;
    /* text-decoration:underline; */
}
.baner1 p{
    font-size:40px;color:#ffffff;
    padding:0 20px
}
.baner2 h3{
    color:#000000;
    font-size:45px;
    box-shadow: 0px 6px 6px -3px #ffffff;
    padding: 15px 114px;
    /* text-decoration:underline; */
}
.baner2 p{
    font-size:40px;color:#ffffff;
    padding:0 20px
}

.baner3 h3{
    color:#000000;
    font-size:45px;
    box-shadow: 0px 6px 6px -3px #ffffff;
    padding: 15px 114px;
    /* text-decoration:underline; */
}
.baner3 p{
    font-size:40px;color:#ffffff;
    padding:0 20px;
}


.sideborder{
    width:24%;
    height:800px;
    background:#f258ef;
    margin: 63px 143px;
    padding: 1px 0;
     border-radius:20px;
}
.sideborder h3{
        color:#000000;
        font-size: 47px;
        box-shadow: 0px 4px 26px -3px #ffffff;
       

}
.sideborder p{
    font-size:40px;color:#ffffff;
    padding:0 20px;
}

.banerleft{
    width:54%;
    height: 1132px;
    background:#bb1414;
    margin: -867px 155px;
    padding: 27px 0;
    border-radius:20px;
    float:left;
}
.banerleft h3{
    font-size: 49px;
    margin: 1px 41px;
}
.banerleft2{
 width:100%;
 height: 90px;
 background:#808080;
}
.banerleft2 p{
       font-size:40px;
       color:#ffffff;
       display:inline;
       float:right;
       padding: 0px 103px;
       margin: 18px;
}
.banerleft3{
    width: 1443px;
    background:url(../html/85.jpg);
    height: 587px;
    margin:0 0 0 0;
}
.banerleft4{
    background:#ffffff;
    margin: -18px 0 -45px 0;
    
    height: 441px;
    border-radius: 0px 0px 18px 18px;
}
.banerleft4 p{
    font-size: 56px;
    margin: 9px 34px;
}
.banerleft4 a{
    font-size:25px;
    margin: 208px 32px 33px 163px;
    float:left;
     -moz-box-shadow: inset 0px 1px 28px 4px #97c4fe;
    -webkit-box-shadow: inset 0px 1px 28px 4px #97c4fe;
    box-shadow: inset 0px 1px 28px 4px #97c4fe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color: #3d94f6;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 4px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;/p,6
    padding: 16px 55px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
}
  .morelink:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
        background: -moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: -webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: -o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: -ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
        background-color: #1e62d0;
    }

.morelink:active {
    position: relative;
    top: 1px;
}


.foter{
          width:90%;
          height: 60px;
          background:#000000;
          border-radius:20px;
          margin:auto;
          margin-top: 836px;
      }
.foter p{
    color:#ffffff;
    font-size: 44px;
    margin: 24px 944px;
}

    
 

       




